---
import { Icon } from "astro-icon/components";

const { title } = Astro.props;
const products = [
	{
		icon: "",
		name: "producto 1",
	},
	{
		icon: "",
		name: "producto 2",
	},
	{
		icon: "",
		name: "producto 3",
	},
];
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-zinc-800">
			<div class="container flex justify-around max-w-full m-auto">
				<img src="/public/AliExpres-logo.webp" class="h-[61px] ml-10" />

				<div class="my-auto relative">
					<input
						type="search"
						placeholder="buscar..."
						class="h-9 rounded-full pl-5 outline-none w-[960px]"
					/>
					<div
						class="bg-zinc-800 inline-block right-1 top-1 text-white rounded-xl px-2 absolute"
					>
						<Icon name="mdi:search" class="size-7" />
					</div>
				</div>

				<div
					class="text-white flex items-center justify-around container"
				>
					<div class="flex">
						<Icon name="mdi:qrcode" class="size-8" />
						<div class="ml-2">
							<div class="relative leading-3">
								Descarga la app
							</div>
							<div>de aliexpress</div>
						</div>
					</div>
					<div class="flex">
						<Icon name="flagpack:co" class="text-xl my-auto" />
						<div class="ml-2">
							<div class="relative leading-3">es/</div>
							<div class="text-sm">COP</div>
						</div>
					</div>
					<div class="flex">
						<Icon
							name="mdi:user-outline"
							class="text-3xl my-auto"
						/>
						<div>
							<div class="">Welcome</div>
							<div class="relative leading-3 text-sm">
								sign In / Register
							</div>
						</div>
					</div>
					<div class="flex">
						<Icon name="mdi:cart-outline" class="text-3xl" />

						<div>
							<div class="bg-white w-6 h-4 rounded">
								<div class="text-center text-black text-sm">
									0
								</div>
							</div>
							<div class="">cart</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="bg-zinc-800 container max-w-full justify-center flex flex-wrap gap-1"
		>
			<div
				class="container flex justify-around text-white mb-2 items-center"
			>
				<a
					href="#"
					class="h-10 text-lg rounded-full border-2 text-center px-4 relative flex group"
				>
					todas las categorias
					<menu
						class="hidden group-hover:block absolute bg-zinc-800 w-full left-0 top-7"
					>
						<ul>
							<li>opcion 1</li>
							<li>opcion 2</li>
							<li>opcion 3</li>
						</ul>
					</menu>
				</a>
				<a href="h-10 text-lg pt-[6px]">NN</a>
				<a href="h-10 text-lg pt-[6px]">Bestsellers</a>
				<a href="h-10 text-lg pt-[6px]">Top Brands</a>
				<a href="h-10 text-lg pt-[6px]">Home & Garden</a>
				<a href="h-10 text-lg pt-[6px]">Hair Extensions & Wigs</a>
				<a href="h-10 text-lg pt-[6px]">Men's Clothing</a>
				<a href="h-10 text-lg pt-[6px]">Accesories</a>
				<a href="h-10 text-lg pt-[6px]">Consumer Electronics</a>
				<a href="h-10 text-lg pt-[6px]">More</a>
			</div>
		</div>
		<div class="max-w-full bg-red-900 h-40 flex">
			<div>
				<div>Better choises,</div>
				<div>better prices</div>
			</div>
			<div>
				<Icon name="mdi:attach-money" />
				<div>value for money</div>

			</div>
			<div>
				<Icon name="mdi:users-outline" />
				<div>shoppers worldwide</div>
			</div>
			<div>
				<Icon name="mdi:truck-delivery-outline" />
				<div>fast delivery</div>
			</div>
			<div>
				<Icon name="mdi:users-outline" />
				<div>shoppers worldwide</div>
			</div>
		</div>

		<div class="container banner">banner</div>
		<nav class="container main_menu">
			<a href="/">Inicio</a>
			<a href="/productos">Productos</a>
		</nav>
		<div class="container product_list">
			{
				products.map((product) => (
					<div>
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAalJREFUSEvt1b9Ll1EUBvCPFDQkDUW0tGRTv5YKLAhCtISKdqHBmgqyJRz6C5qaKlDBwcV/QCGiQsGliIaisCVxcYkWQYIiyPfE+dKbfPW+3+G7dZcX3nvufZ7znPPc06PLq6fL9ysBnMFFXMIQdiehX3iBl3iF99sR3Q5gLx7jZsMMp3APP7bGtwM4WLFewIk88ATP8AYbeUEvzuMK7mZm7zCI9TpIO4BZjOATrmMFwxVIP47m4S8J+BzHMI8+BJmxEkAw2IcjWM3gj5lR/WwQOJk/TiMyWMPhEsDvDDiO5YYAp/AhY/9RpZ1ELYDPuNpQormafI0BglB0RXRTFPk1vifLkPAcruFOrX1juzHAA4xjf6FVv+ERHnYqUTDZUxV6tDLUhSxydExIGLWJIi9VzTCDn/m/owxKLt+aWKt2jSX6D/BHwp180DWJou0OoO7k0qPacvJXHCo9FdO4hbqTdwKI1m05eRK3SwBhrEUEq06c/DYHU/G5DgIxcCZwo6RN7j/F/aYDp37nWQzgcn535WZkFrMgBlOMzXjO265OO6VhQn/Dug6wCfCMXxmxPSXiAAAAAElFTkSuQmCC" />
						{product.name}
					</div>
				))
			}
		</div>
		<div class="container categories">categorias</div>

		<div class="container">
			<slot />
		</div>

		<div class="container footer">Este es el footer</div>
	</body>
</html>
<style is:global>
	.main_menu a:hover {
		background: #ff5a39;
	}

	.product_list {
		display: flex;
		height: 80px;
	}

	.product_list div {
		height: 100%;
		display: flex;
		text-align: center;
		max-width: 120px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid rgb(194, 194, 194);
		border-radius: 4px;
		margin-right: 3px;
	}

	.categories {
		height: 80px;
	}
	.footer {
		height: 120px;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
